<div class="row">

    <div class="col-md-4">
        {{!-- show user count --}}
        <div class="card shadow animated fadeIn faster">
            <div class="card-header bg-primary text-white text-capitalize display-5 text-center">
                total users
            </div>
            <div class="card-body display-4 text-center">
                <i class="fa fa-users "></i>
                {{users.length}}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        {{!-- show proxy count --}}
        <div class="card shadow animated fadeIn faster">
            <div class="card-header bg-success text-white text-capitalize display-5 text-center">
                total proxies
            </div>
            <div class="card-body display-4 text-center">
                <i class="fa fa-globe"></i>
                {{proxies.length}}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        {{!-- show ssl count --}}
        <div class="card shadow animated fadeIn faster">
            <div class="card-header bg-info text-white text-capitalize display-5 text-center">
                total ssl files
            </div>
            <div class="card-body display-4 text-center">
                <i class="fa fa-lock"></i>
                {{sslFiles.length}}
            </div>
        </div>
        
    </div>

</div>


<table class="table table-bordered table-hover table-striped shadow mt-3">
    <thead>
        <tr class="bg-primary display-5 text-white">
            <td>pid</td>
            <td>name</td>
            <td>pm_id</td>
            <td>memory</td>
            <td>cpu</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
                <tr>
                    <td> {{this.pid}} </td>
                    <td> {{this.name}} </td>
                    <td> {{this.pm_id}} </td>
                    <td> {{this.monit.memory}} </td>
                    <td> {{this.monit.cpu}} </td>
                    <td class="w-1">
                        <a 
                            x-data="{ isLoading:false }" 
                            x-on:click="isLoading = true"
                            href="/admin/restartprocess/{{this.pm_id}}" class="btn btn-block btn-danger btn-raised ripple">
                            restart
                            <i x-show="isLoading" class="fa fa-spinner fa-spin"></i>
                        </a>
                    </td>
                </tr>
        {{/each}}
    </tbody>
</table>